<% include ./partials/header.ejs %>




<header class="masthead" style="height: 100vh;">
    <div class="container login-container">
        <div class="login-content col-sm-8 col-lg-6 col-xl-4">
          <div class="login_card">
            <div class="login-header">
              <img src="/img/sns_logo.png" alt="">
            </div>
            <form method="POST" action="/login">
              <div class="login_wrapper">
                <br />
                <!-- PASSPORT REQUIRED BOTH USERID AND PASSWORD SO LEAVEING USERID HIDDEN -->
                <input id="userID" type="text" class="d-none form-control  pass_input"  name="name" value="12">
                <div class="form-group">
                  <div class="col-md-12">
                    <input id="password" type="password" class="form-control  pass_input" maxlength="10" name="password" required="" autocomplete="current-password" placeholder="Enter PIN Code">
                  </div>
                </div>
              </div>
              <div class="login_ftrmy">
                <button class="btn btn-primary" type="submit"> Login </button>
                <div class="login-footer">
                  <!--<span class="powered_by">
                    <img src="https://placeholder.com/wp-content/uploads/2018/10/placeholder.com-logo1.png" alt="">
                  </span>
                  <span>
                    <img src="https://placeholder.com/wp-content/uploads/2018/10/placeholder.com-logo1.png" alt="">
                  </span>-->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      
     
</header>

<% include ./partials/footer.ejs %>